nav {
    margin: 50px auto;
    max-width: 50%;
    position: relative;
    max-width: 50%;
    padding: 0;
}

section {
    max-width: 100%;
}

a {
    margin-left: 2px;
}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

footer {
    text-align: center;
}

.wrapper {
    max-width: 50%;
    margin: 0 auto;
    padding: 0;
}

.icon {
    display: flex;
}

.images {
    width: 600px;
}

.modal {
    display: none; /* Hidden by default */
    padding-top: 100px; /* Location of the box */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    display: flex; /* NEW: Display as Flexbox */
    align-items: center; /* NEW: Center items vertically */
    justify-content: center; /* NEW: Center items horizontally */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    // max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries */
// Big screens
@media screen and (min-width: 1200px) {
    .myheader {
        padding-top: 50px;
    }
    table {
        width: 100%;
    }
    td {
        display: table-cell;
    }
}

// Small screens
@media screen and (max-width: 1199px) {
    nav {
        display: block;
    }
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
    .images {
        width: 100%;
    }
    .icon {
        justify-content: center;
    }
    .ul {
        justify-content: space-between;
    }
    body {
        color:#f0e7d5;
        background: #252525;
    }
    .bottom-row {
        padding-bottom: 100px;
    }
}