@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background: hsl(240, 10%, 3.9%);
    --navbar-bg: var(--background) / 60;
    --border-color: #f8fafc0f;
    --border-div: #888888;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        /* --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 255, 255, 255; */
        --background-start-hex: #2e2d2d;
        --background-end-hex: #000000;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100lvw;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            var(--background-end-hex)
        )
        var(--background-start-hex);
    background: var(--background);
}

@layer components {
    .button {
        @apply px-2 py-1 bg-amber-400 ring-1       ring-slate-200 ring-offset-0        rounded text-black
                   hover:bg-amber-500        hover:ring-slate-400 cursor-pointer 
                  active:bg-amber-600       active:ring-slate-700 active:transition-all active:duration-100 active:text-[0.99rem]
                selection:bg-none;
    }

    .navbar {
        @apply flex flex-col bg-[--navbar-bg] h-20 w-[100lvw] text-center font-light border-b border-[--border-color] fixed
                   backdrop-filter backdrop-blur-md backdrop-saturate-150 top-0 z-50 py-3;
    }
    .text-shadow {
        text-shadow: 0 0 10px #ffc600, 0 0 20px #ffc600, 0 0 30px #ffc600,
            0 0 40px #ffc600;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
